<div class="all-customer">
<div id="content">
  <div class="page">
    <div class="wrapper">
      <div class="row">
        <div class="col a-right add-customer">
          <div class="button-set">
            <a href="/new-customer">
            <button>Add New Customer</button>
            </a>
          </div>
        </div>

        <div class="w-100"></div>
        <div class="col">
          <h2 class="form-title"><span>All Customers</span></h2>
          <div class="filter">
            <div class="row">
              <div class="col">
                <div class="filter">
                  <div class="search-box">
                    <label>Search by Keyword</label>
                    <input class="search" type="text" placeholder="Search">
                  </div>
                  <div class="button-set">
                    <button>Search</button>
                  </div>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <p class="a-right">10 000 Customers</p>
              </div>
            </div>
          </div>
          <div class="customer-table">
            <table class="table">
              <thead>
              <tr class="first">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th class="a-center">Address</th>
                <th class="a-center">Salary</th>
                <th class="a-right">Action</th>
              </tr>
              </thead>

            </table>
          </div>
          <div class="pager">
            <ul>
              <li><a href="#" class="previous">previous</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#" class="active">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#" class="next">next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
