<div class="overlay">
  <!-- LOGN IN FORM by Omar Dsoky -->
  <form>
    <!--   con = Container  for items in the form-->
    <div class="con">
      <!--     Start  header Content  -->
      <header class="head-form">
        <h2>Create An Accounts</h2>
        <!--     A welcome message or an explanation of the login form -->
        <p>login here using your username and password</p>
      </header>
      <!--     End  header Content  -->
      <br>
      <div class="field-set">

        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>

<!--        <span>or use your email for registration</span>-->

        <!--   user name -->
        <span class="input-item">
           <i class="fa fa-user-circle"></i>
         </span>
        <!--   user name Input-->
        <input class="form-input" id="txt-input" type="text" placeholder="Name" required>

        <br>

        <span class="input-item">
           <i class="fa fa-user-circle"></i>
         </span>
        <!--   user name Input-->
        <input class="form-input" id="email-input" type="text" placeholder="Email" required>

        <br>

        <!--   Password -->

        <span class="input-item">
        <i class="fa fa-key"></i>
       </span>
        <!--   Password Input-->
        <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>

        <!--      Show/hide password  -->
        <span>
        <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
     </span>


        <br>
        <!--        buttons -->
        <!--      button LogIn -->
        <a href="/customer">
          <button  class="log-in"  > Sign Up </button>
        </a>
      </div>

      <!--   other buttons -->
      <div class="other">
        <!--      Forgot Password button-->
        <button class="btn submits frgt-pass">Forgot Password</button>
        <!--     Sign Up button -->
        <a href="/sign-up">
          <button class="btn submits sign-up">Sign IN
            <!--         Sign Up font icon -->
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
        </a>
        <!--      End Other the Division -->
      </div>

      <!--   End Conrainer  -->
    </div>

    <!-- End Form -->
  </form>
</div>
