<div class="items-page">

  <div class="container-fluid">
    <div class="animated fadeIn">
<!--      <div class="card">-->
<!--        <div class="card-body">-->
          <div class="">
            <h3>ITEMS LIST</h3>
          </div>
<!--        </div>-->
<!--      </div>-->

      <div class="row">
        <div class="col-sm-6 col-lg">
          <div class="card text-center">
            <div class="card-body">
              <h4>name</h4>
              <img src="assets/images/item.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg">
          <div class="card text-center ">
            <div class="card-body">
              <h4>name</h4>
              <img src="assets/images/item.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg">
          <div class="card text-center ">
            <div class="card-body">
              <h4>name</h4>
              <img src="assets/images/item.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg">
          <div class="card text-center">
            <div class="card-body">
              <h4>name</h4>
              <img src="assets/images/item.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg">
          <div class="card text-center ">
            <div class="card-body">
              <h4>name</h4>
              <img src="assets/images/item.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4>Search Items</h4>
          <input type="text" name="focus" required class="search-box" placeholder="Enter search Items" />
          <a href="/order-details">
            <button type="button" class="buy">Buy Now</button>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-outline">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Code</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Barcode</th>
                <th scope="col">Buy</th>

              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>

              </tr>
              <tr>
                <th scope="row">2</th>

              </tr>
              <tr>
                <th scope="row">3</th>

              </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-circle pg-blue">
              <li class="page-item disabled"><a class="page-link">Primeiro</a></li>
              <li class="page-item disabled">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Anterior</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item"><a class="page-link">5</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Próximo</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link">Último</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>

  </div>

</div>
