
<div class="dashboard">
<input type="checkbox" id="nav-toggle">
<div class="main-content">
  <main>
    <div class="cards">
      <div class="card-single">
        <div>
          <h1>50</h1>
          <span>Customers</span>
        </div>
        <div>
          <span class="fas fa-users"></span>
        </div>
      </div>
      <div class="card-single">
        <div>
          <h1></h1>
          <span>Items</span>
        </div>
        <div>
          <span class="fas fa-clipboard-list"></span>
        </div>
      </div>
      <div class="card-single">
        <div>
          <h1>15</h1>
          <span>Orders</span>
        </div>
        <div>
          <span class="fas fa-shopping-cart"></span>
        </div>
      </div>
      <div class="card-single">
        <div>
          <h1>$50K</h1>
          <span>Income</span>
        </div>
        <div>
          <span class="fas fa-wallet"></span>
        </div>
      </div>

    </div>

      <div class="customers">
        <div class="card">
          <div class="card-header">
            <h2>New Customers</h2>
            <button>See all <span class="fas fa-arrow-right"></span> </button>
          </div>
          <div class="card-body">
            <div class="customer">
              <div class="info">

              </div>
              <div class="contact">
                <span class="fas fa-user-circle"></span>
                <span class="fas fa-comment"></span>
                <span class="fas fa-phone-alt"></span>
              </div>
            </div>
            <div class="customer">
              <div class="info">

              </div>
              <div class="contact">
                <span class="fas fa-user-circle"></span>
                <span class="fas fa-comment"></span>
                <span class="fas fa-phone-alt"></span>
              </div>
            </div>
            <div class="customer">
              <div class="info">

              </div>
              <div class="contact">
                <span class="fas fa-user-circle"></span>
                <span class="fas fa-comment"></span>
                <span class="fas fa-phone-alt"></span>
              </div>
            </div>
            <div class="customer">
              <div class="info">

              </div>
              <div class="contact">
                <span class="fas fa-user-circle"></span>
                <span class="fas fa-comment"></span>
                <span class="fas fa-phone-alt"></span>
              </div>
            </div>
            <div class="customer">
              <div class="info">

              </div>
              <div class="contact">
                <span class="fas fa-user-circle"></span>
                <span class="fas fa-comment"></span>
                <span class="fas fa-phone-alt"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </main>
</div>

