<div class="sidebar">
  <div class="sidebar-brand">
    <h1> <span class="fab fa-asymmetrik"> </span> <span>Logo</span>
    </h1>
  </div>
  <header>
    <h2>
        <span class="fas fa-bars"></span>

    </h2>


    <div class="user-wrapper">
      <img src="https://assets.codepen.io/285131/hat-man.png" width="40px" height="40px" alt="profile-img">
      <div class="">
        <a href="/sign-in" class="sign">Sign In</a>
        <span class="slash">/</span>
        <a href="/sign-up" class="sign">Sign Up</a>

      </div>
    </div>
  </header>
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="/dashboard" >
          <span class="fas fa-tachometer-alt"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/customer">
          <span class="fas fa-users" ></span>
          <span>Customers</span>
        </a>
      </li>
      <li>
        <a href="/item">
          <span class="fas fa-stream"></span>
          <span>Items</span>
        </a>
      </li>
      <li>
        <a href="/order">
          <span class="fas fa-shopping-cart"></span>
          <span>Orders</span>
        </a>
      </li>
      <li>
        <a href="/payments">
          <span class="fas fa-boxes"></span>
          <span>Payments</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-user-circle"></span>
          <span>Accounts</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fas fa-tasks"></span>
          <span>Task</span>
        </a>
      </li>
    </ul>

  </div>
</div>
