
.sidebar{
  max-width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  transition: width 300ms;
}

header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 330px;
  top:0;
  z-index: 100;
  width: calc(100% - 330px);
  transition: left 300ms;
}

#nav-toggle{
  display: none;
}
header h2{
  color: #222;
}
header label span{
  font-size: 1.7rem;
  padding-right: 1rem;
}

.user-wrapper{
  display: flex;
  align-items: center;
}
.user-wrapper img{
  border-radius: 50%;
  margin-right: .5rem;
}

.user-wrapper small{
  display: inline-block;
  color: var(--text-grey);
  margin-top: -1px !important;

}

.sign {
  font: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  transition: 0.15s ease;
  color: black;
  i {
    font-size: 1.25em;
  }

  &:focus,
  &:hover {
    background-color: var(--c-background-tertiary);
    color: var(--c-accent-primary);
  }
}

.slash{
  margin-left: 1px;
  margin-right: 1px;
}

.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}
.sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
  color: #000000;
}
.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;

}
.sidebar-menu{
  margin-top: 1rem;

}
.sidebar-menu span{
  color: #000000;
}
.sidebar-menu a{
  padding-left: 2rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}
#nav-toggle:checked + .sidebar {
  width: 70px ;

}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li
{
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar li a
{
  padding-left: 0rem;
}
#nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
  display: none;

}
.sidebar-menu a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}
.sidebar-menu a.active{
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px;

}
@media only screen and (max-width: 1200px) {

  .sidebar {
    width: 70px;
  }
  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }
  #nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
  }
  .sidebar .sidebar-brand h1 span:last-child,
  .sidebar li a span:last-child {
    display: none;

  }

}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
  .search-wrapper {
    display: none;
  }
  .sidebar {

    left: -100% !important;
  }
  header h2 {
    display: flex;
    align-items: center;
  }
  header h2 label {
    display: inline-block;
    text-align: center;
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center !important;
  }
  header h2 span {
    text-align: center;
    padding-right: 0rem;
  }
  header h2 {
    font-size: 1.1rem;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }
  #nav-toggle:checked + .sidebar {
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }

  #nav-toggle:checked .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: inline;

  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem !important;
  }
}


@media only screen and (max-width: 1200px) {

  .sidebar {
    width: 70px;
  }
  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }
  #nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
  }
  .sidebar .sidebar-brand h1 span:last-child,
  .sidebar li a span:last-child {
    display: none;

  }

}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
  .search-wrapper {
    display: none;
  }
  .sidebar {

    left: -100% !important;
  }
  header h2 {
    display: flex;
    align-items: center;
  }
  header h2 label {
    display: inline-block;
    text-align: center;
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center !important;
  }
  header h2 span {
    text-align: center;
    padding-right: 0rem;
  }
  header h2 {
    font-size: 1.1rem;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }
  #nav-toggle:checked + .sidebar {
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }

  #nav-toggle:checked .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle:checked + .sidebar li a {
    padding-left: 1rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child {
    display: inline;

  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem !important;
  }
}
