
<div class="main-container">
  <div class="container">

            <div class="w-100"></div>
            <div class="col order-details">
              <h2 class="form-title"><span>My Orders</span></h2>
              <div class="filter">
                <div class="row">
                  <div class="col item-select">
                    <div class="filter">
                      <div class="search-box">
                        <label>Search by Keyword</label>
                        <input class="search" type="text" placeholder="Search">
                      </div>
                      <div class=" button-set">
                        <button>Search</button>
                      </div>

                    </div>
                  </div>
                  </div>

                  <div class="w-100"></div>


                </div>

                <div class="row">
                  <div class=" col item-select" >
                    <select class="form-select">
                      <option selected>Select Item</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col item-select">
                    <p class="text">Item code : </p>
                    <p class="text">Unit Price : </p>
                    <p class="text">Bar code : </p>
                  </div>
                  <div class="col ">
                    <a href="/order-details">
                      <button type="button" class="add-cart">Add To Cart</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
