<div class="main-order-container">
<div class="order-page">
  <div class="order-container">
    <h1>ORDER DETAILS</h1>
    <div class="order-header Grid">
      <div class="Grid-cell">
        <span class="bold">Order 1 - </span>
        <span>1 item</span>
      </div>

      <div class="Grid-cell ">
        <span class="bold">Customer ID : </span>
      </div>

      <div class="Grid-cell">
        <span class="bold">Sub Total = </span>
      </div>
      <div class="Grid-cell"></div>
      <div class="Grid-cell">
        <span class="view-button right">View</span>
      </div>
    </div>
    <div>
      <div class="order-body">
        <div class="order-body-title">
          <div class="Grid-cell qty">
            <span class="order-body-title">Qty</span>
          </div>
          <div class="Grid-cell product">
            <span class="order-body-title">Product</span>
          </div>
          <div class="Grid-cell price right-border">
            <span class="order-body-title right">Price</span>
          </div>
          <div class="Grid-cell returns">
            <span class="order-body-title right">Returns</span>
          </div>
        </div>

      </div>

    </div>

    <div class="order-footer Grid">
      <div class="Grid-cell">
        <span class="bold">Date: </span>
      </div>

      <div class="Grid-cell"></div>
      <div class="Grid-cell">
      <span class="right">Status:
       <select class="form-select">
                      <option value="1">Success</option>
                      <option value="2">Failed</option>
                    </select>
      </span>
      </div>
      <div class="Grid-cell">
        <span class="right">Ref: </span>
      </div>
    </div>
    <a href="/order">
      <button type="button" class="cancel">Cancel</button>
    </a>

    <a href="/payments">
      <button type="button" class="place-order">Place Order</button>
    </a>
  </div>

</div>
</div>
